# Constants

In [60]:
DEV_SET_PATH = '../data/assignment1_dev_set.csv'
VAL_SET_PATH = '../data/assignment1_val_set.csv'

# Imports

In [29]:
import pandas as pd

# Dev Dataset

## Exploration

### Load

In [85]:
df = pd.read_csv(DEV_SET_PATH)
df.shape

(489, 141)

In [26]:
df.head()

,Unnamed: 0,Project ID,Experiment type,Sex,Host age,BMI,Disease MESH ID,Acholeplasma axanthum,Acidaminococcus fermentans,Acidaminococcus intestini,...,Clostridium sphenoides,Clostridium spiroforme,Clostridium stercorarium,Clostridium symbiosum,Clostridium thermosuccinogenes,Clostridium xylanolyticum,Eubacterium brachy,Eubacterium dolichum,Eubacterium sulci,Ruminococcus gnavus
0,0,PRJEB11419,Metagenomics,Male,53.0,19.01,D006262,0.000000,0.000000,0.000000,...,0.005891,0.029457,0.000000,0.000000,0.002946,0.000000,0.000000,0.000000,0.002946,0.100153
1,1,PRJNA388263,Metagenomics,Female,21.0,23.50,D006262,0.001028,0.000000,0.000000,...,0.000000,0.002569,0.412652,0.003083,0.000000,0.000000,0.008736,0.014903,0.077597,0.004625
2,2,PRJNA388263,Metagenomics,Male,52.0,25.80,D006262,0.001406,0.000000,0.000000,...,0.000000,0.005624,0.002812,0.007031,0.000000,0.000000,0.000000,0.000000,0.005624,0.016873
3,3,PRJEB11419,Metagenomics,Female,40.0,23.49,D006262,0.000000,0.008825,0.273562,...,0.017649,0.198553,0.000000,0.158842,0.030886,0.101483,0.000000,0.000000,0.000000,0.000000
4,4,PRJEB11419,Metagenomics,Female,30.0,22.60,D006262,0.002878,0.037419,7.359970,...,0.305106,0.135283,0.000000,0.051811,0.054689,0.083473,0.020148,0.000000,0.054689,0.011513

### Duplicates

In [11]:
df.duplicated().any()

False

### Missing Values

In [87]:
missing_values_col = list()
for col in df.columns:
    if (df[col].isnull().any()):
        missing_values_col.append(col)

print(missing_values_col)

[]

### Info

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Columns: 141 entries, Unnamed: 0 to Ruminococcus gnavus
dtypes: float64(136), int64(1), object(4)
memory usage: 538.8+ KB

### Same Value

In [74]:
df['Experiment type'].nunique()

1

In [70]:
df['Disease MESH ID'].nunique()

1

## Cleaning

In [75]:
df_final = df.drop(columns=[df.columns[0], 'Project ID', 'Experiment type', 'Sex', 'Host age', 'Disease MESH ID'])
df_final.shape

(489, 135)

# Val Dataset